.card {
  border: 2px solid #ffd700;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 0 18px rgba(255,215,0,0.4);
}

.card h2 {
  color: #ffd700;
  cursor: pointer;
}

.plan-details {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}

.card.active .plan-details {
  max-height: 500px;
  margin-top: 10px;
}

.order-btn {
  margin-top: 12px;
  padding: 10px 18px;
  background: #ffd700;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.order-btn:hover {
  box-shadow: 0 0 12px #ffd700;
}

/* POPUP */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
}

.popup-content {
  background: #0b0b0b;
  color: #fff;
  width: 90%;
  max-width: 380px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border: 2px solid #ffd700;
  box-shadow: 0 0 20px #ffd700;
}

.qr {
  width: 220px;
  margin: 15px auto;
}
