/* ===== Tabs ===== */
.plan-tabs {
  margin: 25px 0;
}

.tab-btn {
  background: black;
  color: yellow;
  border: 2px solid yellow;
  padding: 10px 18px;
  margin: 6px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.tab-btn.active,
.tab-btn:hover {
  background: yellow;
  color: black;
}

/* ===== Plan Groups ===== */
.plan-group {
  display: none;
}

.active-group {
  display: block;
}
