.plans {
  padding: 40px;
}

.plan-box {
  background: #050505;
  border: 2px solid yellow;
  box-shadow: 0 0 15px yellow;
  display: inline-block;
  width: 270px;
  margin: 15px;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.plan-box:hover {
  box-shadow: 0 0 25px yellow;
  transform: scale(1.05);
}

.plan-box h3 {
  color: yellow;
  font-size: 22px;
}

.price {
  font-size: 20px;
  margin: 10px 0;
}

.plan-box ul {
  list-style: none;
  padding: 0;
}

.plan-box ul li {
  margin: 6px 0;
}

.plan-box button {
  background: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
}
